@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.header {
    background-color: #028482;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-family: Sans-Serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image {
    height: 250px;
    width: 350px;
}

.main-bg {
    padding: 10px;
    font-family: Sans-Serif;
}

.img-div {
    text-align: right;
    transition: transform 1.5s ease;
    transform: translate(-30px, -50px);
}

.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #138496;
    color: white;
    border-width: 0;
    border-radius: 5px;
}

.anidiv {
    transform: translate(15px, -10px);
    transition: transform 2s ease;
}

.card {
    background-color: #aed9e0;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    transform: translate(0px, -10px);
    transition: transform 1s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-15px);
}

.footer {
    background-color: #028482;
    text-align: center;
    color: white;
    padding: 10px;
    animation: yes;
}

@keyframes yes {
    1% {
        transform: scale(1);
    }
}