@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/loading-data/niat_responsive/niat_coding_questions/multiple_column_layouts_practice_2_bg_1.jpg");
    height: 110vh;
    background-size: cover;
}

.header {
    text-align: center;
    padding-top: 20px;
}

.header h1 {
    font-family: "Lobster";
    font-size: 35px;
    color: #ff6b6b;
}

.header p {
    font-family: "Roboto";
    font-size: 20px;
    color: #4ecdc4;
    font-weight: bold;
}

.content-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.img {
    height: 130px;
    width: 130px;
    border-radius: 10px;
}

.content-card h1 {
    color: #45b7d1;
    font-size: 25px;
    padding-top: 10px;
    font-family: Bree Serif;
}

.content-card p {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Roboto;
    color: #6c757d;
}

.button {
    background-color: #ff6b6b;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

.padding {
    padding: 20px;
}